<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Exchange</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" crossorigin="anonymous">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>

    <style>
        .large{
            width: 80%;
            margin: 30px auto;
        }

        .callout{
            margin: auto;
        }
    </style>
</head>
<body>
{% if current_user %}
    <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
            <ul class="menu align-left">
                <li class="menu-text">Crypto Exchange</li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'user_profile' current_user.user_id %}">Profile</a></li>
                <li><a href="{% url 'all_user_payment_source' current_user.user_id %}">Payment Sources</a></li>
                <li><a href="{% url 'all_user_transactions' current_user.user_id %}">Transactions</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu align-right">
                <a href={% url 'user_signout' %} class="button">Sign Out</a>
            </ul>
        </div>
    </div>
{% else %}
    <h3 class="text-center">Crypto Exchange</h3>
{%  endif %}
    <div class="callout large">
        {% if error_message %}
            <div class="callout alert" >
                {{ error_message }}
            </div>
        {% endif %}
        {% if notification_message %}
            <div class="callout success" >
                {{ notification_message }}
            </div>
        {% endif %}
        <div class="callout smmall warning">
            <div class="text-center"><strong>Session variables:</strong></div><br>
            <code>Global template variable:
            {% if current_user %}
                {{ current_user}}
            {% else %}
                {{ current_user }}
            {% endif %}</code>
        </div>
        <hr>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>