<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Sources</title>
</head>
<body>
    {% if all_payment_sources %}
        <ul>
            {% for payment_source in all_payment_sources %}
            <li><a href="{% url 'payment_source_detail' payment_source.payment_source_id %}">
                {{ payment_source.name }}
            </a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You don't have any payment sources.</h3>
    {% endif %}
</body>
</html>